body,html, #root, .App {
  margin: 0;
  height: 100%;
  flex:1;
  display: flex;
}

.App{
  flex-direction: column;
}
.LoadingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MeditatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.Meditating {
  font-family: 'Buda', cursive;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}
.spinnerMeditating{
  content: " ";
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.spinner:after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  content: " ";
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainContainer{
   display: flex;


}
.buttonsContainer {
  display: flex;

}
.buttons{
  font-size: 25px;
  background-color: white;
  border-radius: 10px;
}
.previous{
  font-family: 'Buda', cursive;

}
.next{
  font-family: 'Buda', cursive;
}
.middleContainer {
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.more{
  font-family: 'Buda', cursive;

}
.phraseContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phrases {
  font-size: 40px;
  font-family: 'Buda', cursive;
  text-shadow: 4px 4px 4px #aaa;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 25px;
}
.sentence {
  justify-content: center;
}
.limit{

  font-size: 20px;
  font-family: 'Buda', cursive;

}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}



.firstBox{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 150px;
  background: red;
}
.flexCenter{
  flex:1;
  text-align: center;
  margin: auto;
  padding: auto;
}
.secondBox{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 150px;
  background: blue;
}
.secondBoxButtons{
  flex: 1;
  height: 100%;
  background: brown;
  align-items: center;
  justify-content: center;
}
.secondBoxText{
  flex:3;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdBox{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background: yellow;
}


@media screen and (max-width: 400px) {
  .secondBox {
    flex-direction: column;
  }
}
